
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>DASHBOARD</h2>
        </div>
        <!-- Widgets -->
        <div class="row clearfix">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-cyan hover-expand-effect">
                    <div class="icon">
                        <a href="/ProductMaster/Index">
                            <i class="fa fa-product-hunt"></i>
                        </a>
                    </div>
                    <div class="content">
                        <a href="/ProductMaster/Index">
                            <div class="text">Products</div>
                            <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-light-green hover-expand-effect">
                    <div class="icon">
                        <a href="/MasterTable/Index">
                            <i class="fa fa-asterisk"></i>
                        </a>
                    </div>
                    <div class="content">
                        <a href="/MasterTable/Index">
                            <div class="text">Master</div>
                            <div class="number count-to" data-from="0" data-to="243" data-speed="1000" data-fresh-interval="20"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-light-green hover-expand-effect">
                    <div class="icon">
                        <a href="/MenuMaster/Index">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                    <div class="content">
                        <a href="/MenuMaster/Index">
                            <div class="text">Menu</div>
                            <div class="number count-to" data-from="0" data-to="243" data-speed="1000" data-fresh-interval="20"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Widgets -->
    </div>
</section>
