@{
    ViewBag.Title = "About Our Company : Poshak Biosciences";
}
<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="container-fluid shadow p-5">
        <div class="row">
            <div class="col-sm-7 text-justify img-thumbnail">
                <p id="ppp">
                    Poshak Biosciences is a biotechnological company that purely involves in innovation for the quality
                    products in the eld of aquaculture.
                </p>
                <p id="ppp1">
                    The company has continuously strive to achieve its objectives to provide high quality & innovative
                    products of to form at competitive manner. The products acclaimed in various medical sectors for
                    treating numerous diseases in the eld of aquaculture. The company has developed a wide spectrum of
                    products for water management, nutrition and treatment of diseases for aquaculture industry.
                </p>
                <p id="ppp2">
                    Poshak Biosciences continuously keeps abreast of the latest information and technological developments.
                    Continuously R & D efforts, advancements in techniques, feedback of farmers are our back bone for the
                    development of quality products for aquaculture in India.
                </p>
            </div>
            <div class="col-sm-5">
                <img src="~/Images/hm.png" class="img-fluid img-thumbnail" />
            </div>
        </div>
    </div>
  
</div><br><br><hr>

